example-workflow.json
{
  "name": "PDF Encryption Example Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "HTTP Request - Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "binaryPropertyName": "data",
        "password": "MySecurePassword123",
        "outputFilename": "encrypted_document.pdf"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "PDF Encrypt",
      "type": "n8n-nodes-pdf-muhammara.pdfEncrypt",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/{{ $json.filename }}",
        "dataPropertyName": "data"
      },
      "id": "d4e5f6a7-b890-1234-def1-234567890123",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "HTTP Request - Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Download PDF": {
      "main": [
        [
          {
            "node": "PDF Encrypt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Encrypt": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
