example-workflow.json
{
  "name": "PDF Encryption Example Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "eabdbd35-de2b-43b3-acd4-6ce4798be7d5",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -320
      ]
    },
    {
      "parameters": {
        "url": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "9cbe6f86-7d89-48fb-9b51-37866112a977",
      "name": "HTTP Request - Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -80,
        -320
      ]
    },
    {
      "parameters": {
        "password": "123",
        "outputFilename": "encrypted_document.pdf"
      },
      "id": "fe92add7-5a94-4c77-8be2-dda5fe1df615",
      "name": "PDF Encrypt",
      "type": "n8n-nodes-pdf-muhammara.pdfEncrypt",
      "typeVersion": 1,
      "position": [
        128,
        -320
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=~/.n8n-files/{{ $json.filename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        336,
        -320
      ],
      "id": "aee3aead-18dc-451a-8f0d-34dc379ab58f",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "HTTP Request - Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Download PDF": {
      "main": [
        [
          {
            "node": "PDF Encrypt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Encrypt": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2565fdb3-1e38-418c-9b94-51054cbfcb36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c54b7f4d6bf76776251e04cf71f9f6c8593c1d2c3f7d0861afacd357783ccf4a"
  },
  "id": "LMSuidfZbbA54SzA",
  "tags": []
}